*{
    margin: 0;
    padding: 0;
}

header{
    grid-area: header;
    background-color: azure;
    background-color: #ADD500;)
}

menu{
    grid-area: menu;
    margin: 0;
    padding: 0;
    background-color: white;
}

main{
    grid-area: main;
    background-color: white;
}

footer{
    grid-area: footer;
    color: white;
    background-color: rgb(0, 50, 83)
}

.grid-container{
    display: grid;
    grid-template-areas:
    "header header"
    "menu main"
    "footer footer";
    gap: 10px;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 1fr 50px;
    height: 90vh;
    background-color: rgb(248, 248, 248);
    
}